node_modules/

.env
.env.local
client/.env.local

.next/
client/.next/
dist/
build/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

uploads/telegram/*
!uploads/telegram/.gitkeep
